// 变量

$a: 250px;

/* common */
@font-face {
    font-family: crystalc;
    src: url("../font/crystalc.ttf"), url("../font/crystalc.woff") format('woff');
}

@font-face {
    /* 思源黑体 CN */
    font-family: syht;
    src: url("../font/syht.otf"), url("../font/syht.woff") format('woff');
}